* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}

body p {
    font-family: 'Quicksand', sans-serif;
}

.donate-hero {
    height: 550px;
    background-image: url(images/sylhetfloodbanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.donate-hero-content-wrap {
    margin: 0 auto;
    width: 960px;
}

.donate-hero-content-wrap h1 {
    color: #F88B06;
    text-align: center;
    font-size: 65px;
    padding-top: 120px;
}

.donate-hero-content-wrap p {
    text-align: center;
    margin-left: 100px;
    margin-bottom: 25px;
    margin-top: 25px;
    color: beige;
    line-height: 1.8em;
    width: 700px;

}

.donate-hero-content-wrap a {
    margin-left: 360px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    background: #F88B06;
    padding: 15px 30px;
    box-shadow: 5px 5px 15px black;
    border-radius: 2px;
    color: white;
}

.donate-hero-content-wrap a:hover {}

.donate-today-wrap {
    width: 960px;
    margin: 110px auto;
    margin-bottom: 30px;
}

.donate-today-title-p-wrap h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;

}

.donate-today-title-p-wrap p {
    text-align: center;
    margin: 10px;
    color: gray;
    width: 600px;
    margin-left: 200px;
    line-height: 1.7em;
}

.donate-today-tk-flex-wrap {
    display: flex;
    width: 960px;
    margin-left: 150px;

}

.tk-box {
    width: 120px;
    height: 100px;
    margin-left: 10px;
    background-color: rgb(206, 21, 21);
    margin-top: 30px;
}

.tk-box h1 {
    text-align: center;
    margin-top: 36px;

}

.tk-grey {
    color: #787878;
    background: #f7f3f3;
}

.tk-200-stylr {
    color: #F88B06;
    background: #fccb8fab;
    border: 3px solid #F88B06;
    border-radius: 4px;
    box-shadow: 2px 2px 5px black;
}

.donate-today-button-wrap {
    width: 960px;
}

.donate-today-button-wrap h5 {
    text-align: center;
    margin-top: 100px;
    font-size: 15px;
    font-weight: lighter;
    color: #BBBBBB;
    margin-bottom: 10px;
}

.donate-today-button-box-border {
    border-top: 1px solid #BBBBBB;
    width: 640px;
    margin: 0 auto;
    padding-top: 50px;

}

.donate-today-button-box-border a {
    margin-left: 250px;
    text-align: center;
    text-decoration: none;
    background: #F88B06;
    padding: 15px 30px;
    box-shadow: 1px 1px 15px rgb(168, 166, 166);
    border-radius: 2px;
    color: white;
}

.our-donate-plan {
    width: 960px;
}

.our-donate-plan-h-p-wrap {
    text-align: center;
    margin-left: 350px;
    margin-top: 140px;
}

.our-donate-plan-h-p-wrap h1 {
    padding-bottom: 30px;
    font-size: 40px;
}

.our-donate-plan-h-p-wrap p {
    color: #787878;
    margin-bottom: 35px;
    line-height: 2em;
}

.our-donate-plan-info-box-flex {
    display: flex;
    width: 960px;
    margin-left: 200px;
}

.our-donate-plan-info-box {
    width: 320px;
    background: #F88B06;
    margin-left: 15px;
    padding: 20px;
}

.our-donate-plan-info-box img {
    padding: 30px 0;
}

.our-donate-plan-info-box h1 {
    padding-bottom: 30px;
}

.our-donate-plan-info-box p {
    color: #787878;
    padding-bottom: 30px;
    line-height: 1.6em;
}

.box-1-bg {
    background: #EDF5F6;
}

.box-2-bg {
    background: #FFEEEE;
}

.box-3-bg {
    background: #FFF4D6;
}

.how-to-contribute-wrape-flex {
    display: flex;
    width: 960px;
    margin: 0 auto;
    gap: 40px;
}

.half-width {
    width: 50%;
    margin-top: 100px;
}

.how-to-contribute-content {
    margin-top: 130px;
    padding: 10px;
}

.how-to-contribute-content h1 {
    font-size: 50px;
    padding-top: 50px;
}

.how-to-contribute-content p {
    color: #787878;
    padding: 20px 0;
    line-height: 2em;
    margin-bottom: 30px;

}

.how-to-contribute-content a {
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
    background: #F88B06;
    padding: 15px 30px;
    box-shadow: 1px 1px 15px rgb(168, 166, 166);
    border-radius: 2px;
    color: white;
}

.how-to-contribute-img {
    background: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 500px;
}

.get-update-wrape {
    text-align: center;
    width: 960px;
    margin: 0 auto;

}

.get-update-wrape h1 {
    font-size: 40px;
    margin-top: 100px;
}

.get-update-wrape p {
    width: 700px;
    margin-left: 160px;
    line-height: 2em;
    padding-top: 10px;
    color: #787878;
    margin-bottom: 30px;

}

.news-letters {
    width: 600px;
    margin: 0 auto;
    background: #FFF4D6;
    margin-bottom: 50px;


}

form {
    padding: 50px 0;
}

input[type="text"] {
    margin-left: 100px;
    width: 300px;
    padding: 10px;
    background: #D9D9D9;
    border: none;

}

input[type="submit"] {

    width: 90px;
    padding: 10px;
    background: #F88B06;
    border: none;
    margin-left: -3px;

}

footer h1 {
    font-family: 'Lobster', cursive;
    padding: 50px 0;
    text-align: center;
    background: #0B0D17;
    color: #F88B06;
    font-style: italic;
}

footer p {

    text-align: center;
    background: #0B0D17;
    color: white;
    margin-top: -30px;
    padding-bottom: 50px;

}